
@{
    ViewBag.Title = "Pictures";
}

<h2> Pictures</h2>
<div ng-controller="GetStockController">
    <form novalidate name="f1">
        <table>
            <tr ng-repeat="uploadFile in currentFiles">
                <td>
                    <img ng-src="{{uploadFile.FilePath}}" style="max-height:200px; max-width:200px" class="img-thumbnail" />
                   
                </td>
                <td>Description : </td>
                <td>
                   {{uploadFile.FileDescription}}
                </td>
            </tr>
        </table>

    </form>
</div>

@section Scripts{
    <script src="~/Scripts/AngularController/GetStockController.js"></script>
}